// font-size variable

$fontsize01 : 13px;
$fontsize02 : 14px;
$fontsize03 : 16px;
$fontsize04 : 18px;
$fontsize05 : 24px;
$fontsize06 : 28px;
$fontsize07 : 32px; 
$fontsize08 : 42px;


// color variable 

$color01 : #fdfdfd;
$color02 : rgb(17, 16, 16);
$color03 : rgba(10, 122, 6, 0.863);
$color04 : rgba(0, 0, 179, 0.932);
$color05 : rgb(236, 252, 16);

